<%= stylesheet_link_tag "shows" %>
<%= javascript_include_tag "http://staging.tokbox.com/v0.91/js/TB.min.js" %>
<%= javascript_include_tag "http://js.pusherapp.com/1.9/pusher.min.js" %>
<%= javascript_include_tag "http://twitter.github.com/bootstrap/1.3.0/bootstrap-modal.js" %>
<script type="text/javascript">
  /* Show Variables */
  var showId = "<%= @show.id %>";
  var moderator = <%= @moderator %>;
  var sessionId = "<%= @show.sessionId %>";
  var archiveShow = <%= @show.archiveShow %>;
  <% if @show.archiveId %>
    var archiveId = "<%= @show.archiveId %>";
    var playbackMode = true;
  <% else %>
    var playbackMode = false;
  <% end %>

  /* Pusher Variables */
  var pusher_key = "<%= APP_CONFIG['pusher_key'] %>";

  /* OpenTOk Variables */
  var opentok_api_key = "<%= APP_CONFIG['opentok_api_key'] %>";
  var opentok_token = "<%= @token %>";
</script>
<%= javascript_include_tag "shows" %>

<div class="app"></div>

