<%= stylesheet_link_tag "shows" %>
<%= javascript_include_tag "http://staging.tokbox.com/v0.91/js/TB.min.js"%>
<script type="text/javascript">
  var apiKey = "<%= APP_CONFIG['opentok_api_key'] %>";
  var token = "<%= @token %>";
  var sessionId = "<%= @show.sessionId %>";
</script>
<%= javascript_include_tag "shows" %>

<div class="main"></div>

